@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: Avenir, Tahoma, Verdana;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #e8e8e8;
  height: 100%;
  scroll-behavior: smooth;
}
h1 {
  font-family: "Open Sans";
}

a:hover {
  color: white;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-family: Nunito;
}

i {
  font-size: 19px;
  font-style: normal;
  font-weight: bolder;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

button {
  outline: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.loading {
  font-size: 20px;
  margin: auto;
  position: relative;
  text-align: center;
  top: -50%;
  width: 20%;
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notfound p {
  font-size: 30px;
  font-weight: bold;
}

.notfound p a {
  color: red;
}

.notfound p label {
  cursor: pointer;
  color: red;
}

/* navbar1 */

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background: #c32424;
  padding: 0 80px;
}

.navbar1 .logo {
  width: 65px;
  height: 45.39px;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-size: 13px;
  font-weight: 700;
}

.navbar1 .nav-link1 ul .link-login {
  cursor: pointer;
  margin-right: 10px;
  color: #e8e8e8;
}

.navbar1 .nav-link1 ul .link-register {
  padding: 10px 20px;
  text-align: center;
  background: #e8e8e8;
  color: #c32424;
  border-radius: 10px;
  font-weight: 900;
  border: 0;
  cursor: pointer;
}

.img-profile {
  box-sizing: border-box;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
}

.navbar1 .nav-link1 ul {
  list-style-type: none;
  margin: 0;
}

/* dropdown */

.dropdown-item {
  font-family: Nunito;
  font-weight: 800;
  font-size: 16px;
}

.dropdown-menu::after {
  position: absolute;
  top: -10%;
  left: 130%;
  margin-left: -56%;
  content: "";
  width: 0;
  height: 0;
  border-bottom: solid 30px white;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
}
.dropdown-menu {
  margin-top: 20px !important;
  border-radius: 10px;
  transform: translate(-130px, 74px) !important;
  width: 200px;
}

.dropdown-menu li:first-child {
  margin-top: 10px;
  margin-left: 6px;
}

.dropdown-menu li:nth-child(2) {
  margin-bottom: 15px;
  margin-left: 6px;
  margin-top: 15px;
}

.dropdown-menu li:nth-child(3) {
  margin-left: 9px;
  border-top: 2px solid rgb(190, 152, 152);
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.dropdown-menu li {
  margin-bottom: 0;
}

.dropdown-menu li a img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

/* overwrite dropdown */
.btn-secondary,
.btn-secondary,
.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-check:focus + .btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary.active,
.btn-secondary:active,
.btn-check:active + .btn-secondary:focus,
.btn-check:checked + .btn-secondary:focus,
.btn-secondary.active:focus,
.btn-secondary:active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.show > .btn-secondary.dropdown-toggle {
  color: unset;
  background-color: unset;
  border-color: unset;
  border: 0;
  box-shadow: unset;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: unset;
}

.dropdown-toggle::after {
  display: none;
}

/* Hero */

.container-hero {
  width: 100%;
  height: 550px;
  padding-top: 50px;
  background: #c42424;
}

.hero {
  position: relative;
  width: 100%;
  height: 874px;
}

.content-hero {
  width: 50%;
  margin-left: 120px;
  color: #e8e8e8;
}

.content-hero h1 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 30px;
}

.content-hero p {
  width: 75%;
  font-size: 14px;
  line-height: 24.59px;
  font-weight: 400;
  margin-bottom: 30px;
}

.btn-hero {
  border-radius: 10px;
  background: #e8e8e8;
  width: 177px;
  height: 40px;
  color: #c32424;
  font-weight: 900;
  font-size: 12px;
  border: 0;
}

.img-hero {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 10px;
  right: 0;
}

/* Hero 2 */
.container-hero2 {
  width: 100%;
  height: 590px;
  background: #e8e8e8;
}

.hero2 {
  position: relative;
}

.content-hero2 {
  width: 60%;
  position: absolute;
  margin-top: 150px;
  right: 50px;
}

.content-hero2 h1 {
  color: #000000;
  margin-right: 20px;
  font-size: 45px;
  font-weight: 700;
  line-height: 58.22px;
  margin-bottom: 40px;
}

.content2 {
  display: flex;
  width: 85%;
}

.content2 p {
  width: 50%;
  font-weight: 400;
  font-size: 15px;
  color: #616161;
  margin-right: 50px;
}

.img-hero2 {
  width: 420px;
  height: 600px;
  position: absolute;
  top: -110px;
  left: 0;
}

.title-donate {
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  margin: auto;
  padding-bottom: 40px;
  position: relative;
  text-align: center;
  top: -60%;
  width: 20%;
  color: #c32424;
}

/* card1s */
.cards1 {
  margin: 20px 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card1 {
  margin-bottom: 20px;
  width: 330px;
  height: 490px;
  left: 197px;
  top: 1438px;
  background: #ffffff;
}

.card1-img {
  width: 330px;
  height: 252px;
  margin-bottom: 10px;
}

.card1-body {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 330px;
  word-wrap: break-word;
}

.card1-title {
  height: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card1-content {
  font-size: 14px;
  color: #616161;
  margin-bottom: auto;
}

progress::-moz-progress-bar {
  background: red;
}
progress::-webkit-progress-value {
  background: red;
}
progress {
  background: red;
}

.progress {
  height: 5px;
  width: 100%;
  margin-bottom: 12px;
}

.card1-wrapperFooter {
  margin-top: auto;
}

.card1-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 900;
  font-size: 13px;
}

.card1-btn {
  background: #c32424;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: 0;
  height: fit-content;
  width: fit-content;
  padding: 6px 28px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .navbar1 .nav-link1 ul .link-register {
    padding: 5px 10px;
    margin-right: 10px;
  }

  .hero {
    height: 100%;
  }

  .container-hero {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .content-hero {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .content-hero h1 {
    font-size: 40px;
  }

  .content-hero p {
    width: 100%;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .btn-hero {
    margin-bottom: 25px;
  }

  .img-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;
    height: 40%;
    position: unset;
    right: unset;
    top: unset;
  }

  .container-hero2 {
    height: 100%;
  }

  .hero2 {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .content-hero2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: unset;
    margin-top: 0;
    right: unset;
  }

  .content-hero2 h1 {
    font-size: 40px;
    margin: 10px 5px;
    line-height: 40px;
  }

  .content2 {
    width: 100%;
  }

  .content2 p {
    width: 100%;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .img-hero2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 20%;
    position: unset;
    left: unset;
    top: unset;
    margin-bottom: 100px;
  }

  .title-donate {
    font-size: 60px;
    position: unset;
    top: unset;
    width: 100%;
    margin-bottom: 25px;
  }

  .cards1 {
    margin: 0 30px;
    align-items: center;
    flex-direction: column;
  }

  .card1 {
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    left: unset;
    top: unset;
  }

  .card1-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
  }

  .card1-title {
    height: 100%;
    font-size: 20px;
    line-height: 35px;
  }

  .card1-content {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .navbar1 {
    padding: 0 10px;
  }

  .content-hero h1 {
    font-size: 25px;
  }

  .content-hero p {
    line-height: 24px;
    font-size: 14px;
  }

  .content-hero2 h1 {
    font-size: 25px;
  }

  .content p {
    font-size: 14px;
  }

  .img-hero2 {
    margin-bottom: 50px;
  }

  .title-donate {
    font-size: 50px;
  }

  .card1-title {
    height: 55px;
    font-size: 10px;
    line-height: 24px;
  }

  .card1-content {
    font-size: 12px;
  }
}
